<!-- Le Newsletter subscription  -->
<section class="newsletter-section large-top-margin">
    <article>
        <div class="news-letter-inner">

            <!-- Begin Brevo Form -->
            <!-- START - We recommend to place the below code in head tag of your website html  -->
            <style>

                #sib-container input:-ms-input-placeholder {
                text-align: left;
                color: #555;
                }
            
                #sib-container input::placeholder {
                text-align: left;
                color: #555;
                }
            
                #sib-container a {
                text-decoration: underline;
                color: #555;
                }
            </style>
            <!-- <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css"> -->
            <!--  END - We recommend to place the above code in head tag of your website html -->
            
            <!-- START - We recommend to place the below code where you want the form in your website html  -->
            <div class="sib-form">
                <div id="sib-form-container" class="sib-form-container">
                <div id="sib-container" class="sib-container--large sib-container--vertical">
                    <form id="sib-form" method="POST" action="https://fad7e000.sibforms.com/serve/MUIFAKTCfHes6pA5xOfYhXPOsKCkZSCYyoTOxKo7UOwm_3s821NAQAX7RC1AMHrH82_8SLzzzNeh9FXp13hS_UHWt-RF9wGYAuc6FrteY_oJv8iQAcc0bY0Ju5e_yNvQgXJmdO0x9hPkKJ-ZbPryGjIR0ejApvDY_EL8tKPr3bZjqHHZKIH-AfVEVLHLeHxD2_WGJttGfftsmHNl">
                    
                        <div class="sib-form-block">
                        <h3>WMBN-Newsletter abonnieren</h3>
                        </div>
                    
                    
                        <div class="sib-form-block">
                        <div class="sib-text-form-block">
                            <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                        </div>
                    
                    </div>
                    <div style="padding: 8px 0;">
                        <div class="sib-input sib-form-block">
                        <div class="form__entry entry_block">
                            <div class="form__label-row ">
            
                            <div class="entry__field">
                                <input class="input " type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="E-Mail" data-required="true" required />
                            </div>
                            </div>
            
                            <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:Helvetica, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
                            </label>
                        </div>
                        </div>
                    </div>
                    <div style="padding: 26px 0 8px;">
                        <div class="sib-form-block" style="text-align: left">
                        <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:Helvetica, sans-serif; color:#FFFFFF; background-color:#3E4857; border-radius:3px; border-width:0px;" form="sib-form" type="submit">
                            <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                            <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                            </svg>
                            Abschicken
                        </button>
                        </div>
                    </div>
                    <input type="text" name="email_address_check" value="" class="input--hidden">
                    <input type="hidden" name="locale" value="de">
                    <input type="hidden" name="html_type" value="simple">
                    </form>
                </div>
                </div>
            </div>
            <!-- END - We recommend to place the above code where you want the form in your website html  -->
            <!-- End Brevo Form -->
        </div>
    </article>
</section>