
<section>
    
    <div class="introduction">
        {% block einleitung %} 
        {% endblock %}
    </div>

    <div class="date">
        <p class="date__headline">N&auml;chster Termin </p>
        <div class="date__date">
            <h4>{{ date | date('dd.LL.yyyy') }}</h4> {%- include 'src/_includes/_meetup-button.njk' %}
        </div>
    </div>
    <div class="location">
        {% block wannwo %} 
        {% endblock %}
        <div class="address">
            <div class="address__icon">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map_marker"></use>
                </svg>
            </div>
            <address>
                {% block address %} 
                {% endblock %}
            </address>
        </div>
    </div>
</section>

<section class="talk-section">
<h2>Talks im {{ date | date('LLLL') }}:</h2>

<div class="the-talks">
{%- for item in talks2023 | limit(1) -%}
{%- if (item.talk_startseite === 1) -%}
{%- include 'src/_includes/_talk-start-item.njk' -%}    
{%- endif -%}
{%- endfor -%}
{%- for item in talks2023 -%}
{%- if (item.talk_startseite === 2) -%}
{%- include 'src/_includes/_talk-start-item.njk' -%}
{%- endif -%}
{%- endfor -%}
</div>
<p>&nbsp;</p>
<h3 style="text-align: center;">Talks der letzen Webmontage findet ihr <a href="/{{ date | date('yyyy') }}/">hier</a>.</h3>
</section>




