
<section id="" class="green">
    <div class="centered">
        <div class="row-fluid">
            <div class="span8"><button>Info</button>
                <div class="introduction">
                    {% block einleitung %} 
                    {% endblock %}
                </div>
            </div>
            <div class="date">
                <p class="date__headline">N&auml;chster Termin </p>
                <div class="date__date">
                <h4>{{ date | date('dd.LL.yyyy') }}</h4> {%- include 'src/_includes/_meetup-button.njk' %}
                </div>
            </div>
                {% block wannwo %} 
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</section>

<div id="main" role="main">
    <div id="content">
        <article>
            <br />
            <section class="clearfix" id="teaser">
                <h1>Talks im {{ date | date('LLLL') }} </h1>
                

{% block firsttalk %} 
<div class="talk-item">    
    <div class="talk-item__description">
        <h3>Dein Vortrag?</h3>
        <p>Wir suchen immer wieder gute Themen und Leute, die Vortr&auml;ge halten m&ouml;chten. Die Vortr&auml;ge sollten 10-25 Minuten nicht &uuml;berschreiten und sollten vorher angek&uuml;ndigt werden, zwecks besserer Koordination. <br /><strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste</a></strong>&nbsp;<br />Bitte wendet euch an:</p>
        <p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
    </div>
</div>
{% endblock %}


{% block secondtalk %} 
<div class="talk-item">    
    <div class="talk-item__description">
        <h3>Dein Vortrag?</h3>
        <p>Wir suchen immer wieder gute Themen und Leute, die Vortr&auml;ge halten m&ouml;chten. Die Vortr&auml;ge sollten 10-25 Minuten nicht &uuml;berschreiten und sollten vorher angek&uuml;ndigt werden, zwecks besserer Koordination. <br /><strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste</a></strong>&nbsp;<br />Bitte wendet euch an:</p>
        <p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
    </div>
</div>
{% endblock %}


<h2 style="text-align: center;">Talks der <a href="/2020/">letzen Webmontage:</a></h2>
</section>

</article>
</div> <!--! end of #content -->
</div>


