<div class="talk-item">    
    <div class="talk-item__date">
        <span class="talk-item__date__day">{{ item.talk_date | date('dd') }}</span>
        <span class="talk-item__date__month">{{ item.talk_date | date('LLL') }}</span>
    </div>

    <div class="talk-item__description">
        <h3>{{ item.talk_title }}</h3>

        {% if item.talk_image %}
            <img src="/img-talks/{{ item.talk_image }}" alt="{{ item.talk_title }}">
        {% endif %}

        <p>{{ item.talk_description | safe }}</p>

        {% if item.talk_slideslink %}
            <p>Slides des Vortrags findet ihr <a rel="noopener" href="{{ item.talk_slideslink }}">hier</a>. </p>
        {% endif %}
        
        <p>{{ item.talk_speaker }}<br />

        {% if item.talk_speakerhandle %}
        <a href="https://twitter.com/{{ item.talk_speakerhandle }}">@{{ item.talk_speakerhandle }}</a>
        {% endif %}

        {% if item.talk_speakerhandle_mastodon %}
            {{ item.talk_speakerhandle_mastodon }}
        {% endif %}
        </p>    
    </div>
</div>