
<div class="talk-item">    
    <!-- <div class="talk-item__date">
        {{ item.talk_date }}
    </div>
 -->
    <div class="talk-item__description">
        <h3>{{ item.talk_title }}</h3>
        <p>{{ item.talk_description }}</p>

<!--         {% if item.talk_slideslink %}
            <p>Slides des Vortrags findet ihr <a rel="noopener" href="{{ item.talk_slideslink }}">hier</a>. </p>
        {% endif %}
 -->        
        <p>{{ item.talk_speaker }}<br />

        {% if item.talk_speakerhandle %}
        <a href="https://twitter.com/{{ item.talk_speakerhandle }}">@{{ item.talk_speakerhandle }}</a>
        {% endif %}
        </p>    
    </div>
</div>
