---
layout: _talkstemplate.njk
date: 2013-01-01
yeartitle: "2013"
tags: 
    - talksNavi
---


            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	
	<div class="teaser_outer"><div class="teaser_inner"><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.12.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Self-monitoring</h3>
		<p>Lina Dillmann&nbsp;<a href="https://twitter.com/LinaDillmann">@LinaDillmann</a></p>
<p>Lina stellte uns die beliebtesten Apps und Gadgets f&uuml;r Self-monitoring vor. Sie kl&auml;rte Fragen wie &bdquo;Was gibt es auf dem Markt?&ldquo; &bdquo;Welche Funktionen sind f&uuml;r mich, als Nutzer, wirklich wichtig&ldquo; und &bdquo;Brauche ich so etwas &uuml;berhaupt?"</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.12.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Wie mehrere Entwickler am selben Projekt arbeiten (GIT)</h3>
		<p>Roman Messer&nbsp;<a href="http://www.twitter.com/RmMsr" target="_blank">@RmMsr</a></p>
<p>Kleine und gro&szlig;e Softwareprojekte werden heute von vielen Entwicklern gleichzeitig bearbeitet. Vom internen Prototypen &uuml;ber Betas, Release Candidates bis hin zum Long-Term-Support gibt es unz&auml;hlige kleine &Auml;nderungen. Diese werden mit Revision Control Systemen, wie z.B. GIT gemanaged.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.11.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Emmet</h3>
		<p>Michael Rolfsen&nbsp;<a href="https://twitter.com/michaelsupdates" target="_blank">@michaelsupdates</a></p>
<p>Durch den krankheitsbedingten Ausfall von Lina, deren Vortrag auf dem kommenden Webmontag nachgeholt wird, ist Michael kurzfristig mit einen Kurzvortrag zu Emmet eingesprungen. Emmet (fr&uuml;her bekannt als Zen-coding) ist ein PlugIn, das den Workflow zur Erstellung von HTML und CSS vereinfacht und massiv beschleunigen kann. Das PlugIn steht f&uuml;r die meisten Editoren / IDE&acute;s zur Verf&uuml;gung und ist kostenlos.</p>
<p>Links zum Thema:<br /><a href="http://emmet.io" target="_blank">Emmet.io<br /></a><a href="http://docs.emmet.io/cheat-sheet/" target="_blank">Emmet cheat sheet</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.09.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Chrome Developer Tools</h3>
		<p>Jens Arps&nbsp;<a href="https://twitter.com/jensarps" target="_blank">@jensarps</a></p>
<p>Die DevTools von Chrome sind das vielleicht wichtigste Werkzeug in der Webentwicklung &ndash; bieten sie doch eine F&uuml;lle von Features. Einige dieser Features sind nicht sehr bekannt, aber trotzdem extrem hilfreich. Der Talk ist ein walk-through durch die DevTools und die wichtigsten must-know Features, die einem das Leben als Webentwickler einfacher machen.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.08.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Webmontag Biergarten Edition</h3>
		<p>Fast schon traditionelle August-Biergarten Edition des Webmontag. Sch&ouml;n wars!</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.07.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Tweet Nest</h3>
		<p>Martin Schneider&nbsp;<a href="https://twitter.com/schneyra" target="_blank">@schneyra</a></p>
<p>Martin Schneider stellt das kleine aber feine Tool "Tweet Nest" vor. Tweet Nest ist ein durchsuchbares Backup und Archiv all deiner Tweets.<br /><a href="http://slid.es/schneyra/tweet-nest" target="_blank">Slides zu diesem Talk</a></p>
<h3>Iron Blogger</h3>
<p>Johannes Mirus&nbsp;<a href="https://twitter.com/Johannes" target="_blank">@Johannes</a></p>
<p>Johannes Mirus stellt uns die IronBlogger Community in Bonn vor, ein Zusammenschluss von Bloggern sie sich per "Gruppendynamik" zum Bloggen motivieren.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.04.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Letterpress</h3>
		<p>Julian Stehberger&nbsp;<a href="https://twitter.com/STEHBERGER_360" target="_blank">@STEHBERGER_360</a></p>
<p>Letterpress: das heisst Back to the Roots und ist sowas von Offline. Julian Stehberger, STEHBERGER.360 berichtet &uuml;ber die Renaissance des beinahe in Vergessenheit geratenen Druckverfahrens und wie Papier als Kommunikationsmittel wieder lebendig wird.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.03.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Crowdfunding</h3>
		<p>Dennis Schenkel&nbsp;<a href="https://twitter.com/DennisSchenkel">@dennisSchenkel</a></p>
<p>Dennis Schenkel befasst sich schon seit &uuml;ber zwei Jahren beruflich und privat mit dem Thema Crowdfunding und Online-Fundraising. Durch seine T&auml;tigkeiten bei einem der weltgr&ouml;&szlig;ten Crowdfunding-Plattformen, Rally.org, konnte er einen tiefen Einblick in die Industrie erlangen. Sein Wissen und seine Faszination nutzt er zur F&ouml;rderung dieses noch jungen Wirtschaftszweigs und veranstaltet in K&ouml;ln und Berlin den Crowdfunding &amp; Fundraising Roundtable. Weitere Projekte in dem Bereich sind in Vorbereitung und haben die weitere Professionalisierung der Szene als Ziel.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.02.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>Windows 8 Touch</h3>
		<p>Steve Paine&nbsp;&nbsp;<a href="http://twitter.com/chippy" target="_blank">@chippy</a></p>
<p>Demo Session und anschlie&szlig;ende Q&amp;A Gespr&auml;ch &uuml;ber WIndows 8 Touch auf aktuellen tablet devices und ultrabooks.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.01.2013</span></h1>
	</div>
	
	<div class="span8">
		<h3>NFC but no payment</h3>
		<p>Stephan Helbig &nbsp;<a href="http://twitter.com/istylr" target="_blank">@istylr</a></p>
<p>NFC ist f&uuml;r viele der n&auml;chste Trend im Mobile Business und eng verbunden mit dem Thema Bezahlen.&nbsp;<br />Dabei sind gerade dort die gr&ouml;&szlig;ten H&uuml;rden zu erwarten, da das Erneuern der Kasseninfrastruktur hohe Investitionen erfordert.<br />NFC bietet aber weitaus mehr M&ouml;glichkeiten als das reine Bezahlen. Hierzu soll ein kleiner &Uuml;berblick &uuml;ber lokale M&ouml;glichkeiten<br />des Mobile Marketing mit NFC und QR Codes aus Technik- und Marketingsicht gegeben werden.</p>
		<br />
	</div>

</div></div></div><div id="pager"><span>1</span></div>
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

            <!-- Le Newsletter subscription  -->
            <section class="green newsletter-section">
                <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-letter-inner">
                                    <h3>WMBN-Newsletter abonnieren</h3>
                                    <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                                    <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "newsletter-anmeldung","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"label": {"type": "label","class": "","style": ""}};n2g('create', 'nqinh13n-e48sle5f-15jj');n2g('subscribe:createForm', config);</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
