---
layout: _talkstemplate.njk
yeartitle: "2014"
date: 2014-01-01
tags: 
    - talksNavi
---

            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	
	<div class="teaser_outer"><div class="teaser_inner"><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.03.2014</span></h1>
	</div>
	
	<div class="span8">
		<h3>Nive</h3>
		<p>Arndt Droullier <a href="https://twitter.com/arndtdr" target="_blank">@arndtdr</a></p>
<p>Bei der Webentwicklung sind Frameworks und Libraries ein zentraler Faktor und nicht mehr wegzudenken (wer f&auml;ngt schon gerne jedes mal bei Null an?). In letzter Zeit kommen auch Web APIs immer mehr in den Fokus und bilden eine echte Alternative oder Erg&auml;nzung zu Frameworks und Libraries.</p>
<p>Die Cloud Plattform Nive geht einen Schritt weiter und setzt neben WebAPIs, den Fokus auf Integration um eine komplette Umgebung zum Ver&ouml;ffentlichungen von Webanwendungen bereitzustellen.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.03.2014</span></h1>
	</div>
	
	<div class="span8">
		<h3>Bonner Blogs</h3>
		<p>Sascha Foerster&nbsp;<a href="https://twitter.com/Sascha_Foerster" target="_blank">@Sascha_Foerster</a></p>
<p>Sascha stellte uns in einem Kurzvortrag seinen Aggregator f&uuml;r die Bonner Blogosph&auml;re vor: <a href="http://www.bonnerblogs.de" target="_blank">www.bonnerblogs.de</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.03.2014</span></h1>
	</div>
	
	<div class="span8">
		<h3>Hands-on: Windows 8.1 Baytrail mobile devices</h3>
		<p>Stephen Paine <a href="https://twitter.com/chippy" target="_blank">@Chippy</a></p>
<p>Wir hatten Gelegenheit, an die neueste Generation Baytrial-betriebener Tablets, Convertibles und Ultrabooks Hand anzulegen, die Stephen im Gep&auml;ck hatte.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.01.2014</span></h1>
	</div>
	
	<div class="span8">
		<h3>IFTTT</h3>
		<p>Thomas Lang <a href="https://twitter.com/thomaslang" target="_blank">@ThomasLang</a></p>
<p>Was ist IFTTT? IFTTT ist ein webservice, der verschiedene andere Services mit einfachen "Aussagen" mit einander verbindet: If this, then that. Das nennt sich dann ein "Rezept". Es spricht sich im &Uuml;brigen wie "Gift" ohne das "G".</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.01.2014</span></h1>
	</div>
	
	<div class="span8">
		<h3>Mobile Online Shops – Stiefkinder oder Thronfolger?</h3>
		<p>Hans-Joachim Belz <a href="https://twitter.com/minuteFForts" target="_blank">@minuteFForts</a></p>
<p>Die Umw&auml;lzungen im Nutzungsverhalten durch die "mobile Revolution" stellen die Betreiber von Online Shops vor gro&szlig;e technische und konzeptionelle Herausforderungen. Die vorliegende Benchmarkstudie versucht anhand von Heuristiken und vergleichenden Analysen einen &Uuml;berblick zu geben &uuml;ber den aktuellen Stand von Design und Usability gro&szlig;er Online Shops im mobilen Web.</p>
		<br />
	</div>

</div></div></div><div id="pager"><span>1</span></div>
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

      