---
layout: _talkstemplate.njk
date: 2015-01-01
yeartitle: "2015"
tags: 
    - talksNavi
---


            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	
	<div class="teaser_outer"><div class="teaser_inner"><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.11.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Digitaler Nachlass (nach dem realen Tod)</h3>
		<p>Lina Dillmann<br /><a href="https://twitter.com/linadillmann" target="_blank">@linadillmann</a></p>
<p>Was passiert in der digitalen Welt wenn eine reale Person stirbt? Kann man den realen Tod in der digitalen Welt vorbereiten?</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.11.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Selenium</h3>
		<p>Andreas Monschau<br /><a href="https://twitter.com/@andreasmonschau">@andreasmonschau</a></p>
<p>Testen von Webanwendungen kurz und knackig &ndash; wie man seine Tests mit Selenium automatisiert, am Beispiel der Firefox Extension Selenium IDE&nbsp;sowie mit Selenium Webdriver aus Java heraus.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.10.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Warum wir eine digitale APO brauchen</h3>
		<p>Gunnar Sohn<br /><a href="https://twitter.com/gsohn" target="_blank">@gsohn</a></p>
<p>Eine neue, moderne, au&szlig;erparlamentarische Opposition muss sowohl die digitalen wie die realen R&auml;ume nutzen, sie muss sich sowohl Denklabore durch streitbare &ouml;ffentliche Debatten als auch Reallabore in Unternehmen, Hochschulen und anderen gesellschaftlichen Organisationen schaffen.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.10.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Wie baue ich ein Nischenportal?</h3>
		<p>Fabian Jaeckert &amp; Benjamin O'Daniel<br /><a href="https://twitter.com/benodaniel" target="_blank">@benodaniel</a></p>
<p>Fabian Jaeckert ist SEO-Experte und Benjamin O&rsquo;Daniel ist Content Stratege. An einem Praxisbeispiel stellen sie vor, wie sie gemeinsam ein Nischenportal aufgebaut haben. Die Website hat rund 30.000 Besucher pro Jahr &ndash; ohne regelm&auml;&szlig;ige Blogbeitr&auml;ge. Ein Vortrag f&uuml;r alle, die mehr Traffic haben wollen.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.09.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>In der Höhle der Löwen</h3>
		<p>Sebastian Muszynski<br /><a href="mailto:s.muszynski@constructiva.de">s.muszynski@constructiva.de</a></p>
<p>Wie man sich f&uuml;r H&ouml;chstlasten w&auml;hrend eines TV-Auftritts wappnet. Ein Liebeslied &uuml;ber die Amazon Web Services.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.09.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Compute-Sticks, NUCs und alles dazwischen...</h3>
		<p>Steve 'Chippy' Paine&nbsp;<a href="https://twitter.com/chippy" target="_blank">@chippy</a></p>
<p>Chippy zeigt, was sich auf dem Kleinst-Rechner-Markt mit Windows 10 getan hat &ndash; Mit Demo nat&uuml;rlich.<br />Einiges vom Inhalt des Vortrags kann man auch in diesem (Studio-) <a href="http://www.umpcportal.com/2015/09/combining-win10-uwp-onedrive-continuum-arm-and-intel-in-one-productive-demo/" target="_blank">Video</a> erfahren</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.07.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Augenhöhe Filmabend mit anschließender Diskussionsrunde</h3>
		<p>In vielen Unterhaltungen wurde uns immer wieder der Film &ldquo;Augenh&ouml;he&rdquo; nahegelegt. Daher m&ouml;chten wir ihn gerne mit Euch zusammen gucken und im Anschluss diskutieren. &bdquo;Augenh&ouml;he&ldquo; ist ein Film &uuml;ber mutige Firmen und Mitarbeiter, die auf Augenh&ouml;he und menschlich zusammenarbeiten - und die Arbeitswelt erfolgreich auf den Kopf stellen. <a href="https://vimeo.com/116873711" target="_blank">Hier ist der Trailer</a></p>
<p>F&uuml;r das AUGENH&Ouml;HE-Team twittert:<br /> <a href="https://twitter.com/svenfranke" target="_blank">@svenfranke</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.06.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Bonn.Community</h3>
		<p>Johannes Mirus&nbsp;<a href="https://twitter.com/johannes" target="_blank">@johannes</a> &amp; Sascha Foerster&nbsp;<a href="https://twitter.com/sascha_foerster" target="_blank">@sascha_foerster</a></p>
<p>Johannes Mirus und Sascha Foerster planen eine Community f&uuml;r Bonn und wollen mit uns &ndash; nach einer kurzen Vorstellung der Idee &ndash; gemeinsam diskutieren, was Sie ber&uuml;cksichtigen sollten, was dar&uuml;ber hinaus ganz nett w&auml;re und was Sie auf jeden Fall vermeiden sollten.</p>
<p><strong>Links zur Vorstellung von Bonn.Community:</strong></p>
<ul>
<li>Einmal die Dokumentation im Forum selbst: <br /><a href="http://bonn.community/t/webmontag-vom-15-juni-2015/43/2" target="_blank">bonn.community</a></li>
<li>Der Livestream:<a href="https://www.youtube.com/watch?v=XPBx6QF-mPo" target="_blank"> <br />youtube</a></li>
<li>Und das Google Doc mit den Grundideen: <a href="https://docs.google.com/document/d/1FfacxtMvvQhG5RowYR03OW5vGKjSiy2LyT15USRGVLQ/edit?pli=1#heading=h.2oc45c3xi7p" target="_blank">docs.google</a></li>
</ul>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.06.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Windows 10 Devices</h3>
		<p>Steve 'Chippy' Paine&nbsp;<a href="https://twitter.com/chippy" target="_blank">@chippy</a></p>
<p>Chippy bringt mal wieder einige Windows 10 Tablets and Laptops f&uuml;r eine Hands-on Session mit und gibt einen kurzen &Uuml;berblick, was sich zwischenzeitlich getan hat.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.05.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Elektronische Bürgerbeteiligung - und alles wird gut?</h3>
		<p>Dr. Oliver M&auml;rker <a href="https://twitter.com/omaerker" target="_blank">@omaerker</a></p>
<p>Dr. Oliver M&auml;rker (Geograph, gesch&auml;ftsf&uuml;hrender Gesellschafter der Agentur Zebralog in Bonn &amp; Berlin) spricht &uuml;ber digitale B&uuml;rgerbeteiligung (E-Partizipation). Anhand von Beispielen erl&auml;utert er Funktionen, M&ouml;glichkeiten und Grenzen der seit rund 15 Jahren genutzten Formen elektronisch unterst&uuml;tzter Beteiligung von B&uuml;rgerinnen und B&uuml;rgern in Planungs- und Entscheidungsprozesse und ordnet sie in die Vielfalt demokratischer Mitwirkungsinstrumente innerhalb der (&uuml;berwiegend repr&auml;sentativ organisierten) Demokratie ein.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.05.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Der Troll als Ordnungshüter</h3>
		<p>Klaus Kusanowsky <a href="https://twitter.com/kusanowsky" target="_blank">@kusanowsky</a></p>
<p>Das Internet erm&ouml;glicht Kommunikation zwischen Unbekannten, die unter der Voraussetzung mit einander in Kontakt treten, dass die Gr&uuml;nde f&uuml;r die Kontaktaufnahmeversuche nicht so einfach zu ermitteln sind. Dabei handelt es sich um eine realtiv neue Erfahrung, die nach Ma&szlig;gabe der normalen Routinen des Bekannt- und Vertrautwerdens mit Themen, Sachverhalten und Personen nicht so einfach erkl&auml;rt werden kann. Der Grund daf&uuml;r ist, dass das Internet etwas Neues erm&ouml;glicht, das naturgem&auml;&szlig; andere Sichtweisen als bislang erprobte und einge&uuml;bte erfordert. Wenn man erkennen kann, dass dies so ist, zeigt sich, dass Trolle gar nicht sch&auml;dlich sind. Vielmehr haben sie die Funktion auf eben diesen Zusammenhang aufmerksam zu machen.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.04.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>iModeler</h3>
		<p>Hans-Peter Hemmer&nbsp;<a href="https://twitter.com/d3dhemmer" target="_blank">@d3dhemmer</a></p>
<p>Kollaboratives Mindmapping</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.04.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Smart TVs</h3>
		<p>J&uuml;rgen Vielmeier&nbsp;<a href="https://twitter.com/leidartikel" target="_blank">@leidartikel</a></p>
<p>Warum Smart TVs f&uuml;r Netzmenschen wichtig werden.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.03.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Open data</h3>
		<p>Stefan Wolfrum <a href="https://twitter.com/metawops" target="_blank">@metawops</a></p>
<p>Wir wollen in Bonn Open Data praktisch nutzen, Anwendungen entwickeln oder Daten visualisieren und damit allen Bonnern einen Mehrwert bieten. Dazu gr&uuml;nden wir gerade im Rahmen des &ldquo;Code for Germany&rdquo; Programms der Open Knowledge Foundation das &ldquo;OK Lab Bonn&rdquo;. Jeder kann mitmachen!</p>
<p><strong>Zum Bonner Ok Lab</strong></p>
<ul>
<li>Twitter Account: <a href="https://twitter.com/codeforbonn">@codeforbonn</a></li>
<li>eMail: <a href="mailto:info@codeforbonn.de">info@codeforbonn.de</a></li>
<li><a href="http://codefor.de/bonn">Offizielle Webseite</a> (neu seit 17.03.2015)</li>
<li>Unsere <a href="http://www.meetup.com/OKLab-Bonn/">Meetup Gruppe</a></li>
<li>Unser <a href="https://codeforbonn.slack.com">"eigenes" Slack Team</a></li>
<li><a href="https://openknowledgegermany.slack.com">Slack Team der Open Knowledge Foundation Germany</a> &ndash; und darin dann Channel #bonn</li>
<li><a href="http://doodle.com/8ppqnuhkvviagm4u">Doodle Terminabfrage f&uuml;r erstes Treffen</a></li>
</ul>
<p><strong>Open Data in Bonn</strong></p>
<ul>
<li><a href="http://opendata.bonn.de">Open Data Bonn Portal</a></li>
<li><a href="http://anliegen.bonn.de">B&uuml;rger Anliegen melden</a> mit <a href="http://www.open311.org">open311</a> Schnittstelle</li>
<li><a href="http://ogdcockpit.bonn.de">Open Government Data Monitoring Portal (Wiki)</a></li>
</ul>
<p><strong>&Uuml;berregional</strong></p>
<ul>
<li><a href="http://open.nrw">Open NRW Portal</a></li>
<li><a href="http://okfn.de">Open Knowledge Foundation Germany</a></li>
<li><a href="http://codefor.de">Code for Germany Programm</a></li>
<li><a href="https://github.com/okfde">GitHub Repository der OKF Germany</a></li>
</ul>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.03.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>1 Jahr Bonner Blogs</h3>
		<p>Sascha F&ouml;rster <a href="https://twitter.com/sascha_foerster" target="_blank">@Sascha_Foerster</a></p>
<p>Ganz spontan springt der @Sascha_Foerster heute Abend mit dem Thema "1 Jahr @BonnerBlogs" ein. Wir sind gespannt!</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">09.02.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>Oculus Rift & Co.</h3>
		<p>Jens Arps&nbsp;<a href="https://twitter.com/jensarps" target="_blank">@jensarps</a></p>
<p>Virtual Reality &ndash; was ist das eigentlich? Was braucht man daf&uuml;r? Kann man das selber machen? Und was um alles in der Welt hat das mit dem Web zu tun? Antworten gibt's in dieser kurzen Einf&uuml;hrung.</p>
<a href="https://www.youtube.com/watch?v=IKMwMXSq8qE" target="_blank">Aufzeichnung beider Talks dieses Webmontags</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">09.02.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>BarCamp Bonn</h3>
		<p>Johannes Mirus&nbsp;<a href="https://twitter.com/johannes" target="_blank">@johannes</a></p>
<p>Am 28. Februar findet das erste BarCamp in Bonn statt. Ich erz&auml;hle, was man dar&uuml;ber wissen muss und versuche in Einzelgespr&auml;chen, alle Webmontag-Teilnehmer zu BarCampern zu machen. ;)</p>
<a href="https://webmontag-bonn.de/files/images/slides/BarCampBonn_webmontag.pdf" target="_blank">Slides zum Talk</a> <br /><a href="https://www.youtube.com/watch?v=IKMwMXSq8qE" target="_blank">Aufzeichnung beider Talks dieses Webmontags</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.01.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>SVG</h3>
		<p>Michael Rolfsen <a href="https://twitter.com/michaelsupdates" target="_blank">@michaelsupdates</a></p>
<p>SVG vs. Icon-Fonts: Warum SVG besser ist und was man damit alles anstellen kann.</p>
<p>Slides zum Talk: <a href="http://www.avaris-webdesign.de/slides-meines-svg-vortrags-beim-webmontag-bonn.html" target="_blank">SVG-Vortrag</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.01.2015</span></h1>
	</div>
	
	<div class="span8">
		<h3>ClojureScript</h3>
		<p>Falko Riemenschneider <a href="https://twitter.com/friemens" target="_blank">@friemens</a></p>
<p>Clojure ist ein modernes Lisp. ClojureScript ist Clojure, das auf JavaScript &uuml;bersetzt wird. Die Features aus Clojure ergeben zusammen mit passenden Bibliotheken ein fortschrittliches Programmiermodell im Browser, das fiesen UI Code handzahm macht.<br />Wir zeigen ein paar Highlights.</p>
<p>Slides zum Talk: <a href="http://de.slideshare.net/FalkoRiemenschneider/clojurescript-a-functional-lisp-for-the-browser" target="_blank">ClojureScript</a></p>
		<br />
	</div>

</div></div></div><div id="pager"><span>1</span></div>
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

            <!-- Le Newsletter subscription  -->
            <section class="green newsletter-section">
                <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-letter-inner">
                                    <h3>WMBN-Newsletter abonnieren</h3>
                                    <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                                    <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "newsletter-anmeldung","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"label": {"type": "label","class": "","style": ""}};n2g('create', 'nqinh13n-e48sle5f-15jj');n2g('subscribe:createForm', config);</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
