---
layout: _talkstemplate.njk
date: 2016-01-01
yeartitle: "2016"
tags: 
    - talksNavi
---


            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	
	<div class="teaser_outer"><div class="teaser_inner"><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.12.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>#bonnfiji</h3>
		<p>Vom 06. bis 17. Nov. 2017 findet die Weltklimakonferenz "COP23" in Bonn statt. Hierf&uuml;r starten Bonner das weltweit gr&ouml;&szlig;te Austauschprogramm aller Zeiten - #bonnfiji. Worum es dabei geht und wie ihr eure digitalen + Social Media F&auml;higkeiten f&uuml;r #climatejustice einsetzen k&ouml;nnt, entdeckt ihr gemeinsam mit @joscchh an diesem Abend.</p>
<p>Johanna Sch&auml;fer<br /><a href="https://twitter.com/joscchh">@joscchh</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.11.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Chatbots – a new hope?</h3>
		<p>Chatbots sind aktuell in aller Munde. Ist es ein Hype, der schnell wieder vorbei ist, oder erleben wir gerade einen Paradigmenwechsel in der Nutzung digitaler Kan&auml;le? Das Konzept ist nicht neu, aber neue Technologien bieten M&ouml;glichkeiten, mit denen man sich als Erfahrungsmacher besch&auml;ftigen sollte.</p>
<p>Livemitschnitt auf&nbsp;<a href="https://www.periscope.tv/w/1kvJpqXzqPwxE" target="_blank">Periscope hier</a></p>
<p>Der Vortrag auf <a href="http://www.slideshare.net/visualconcept/" target="_blank">Slideshare</a>&nbsp;<br />Die <a href="https://docs.google.com/document/d/1yhpUm_ZfMHh65sW4ps0I5CIoLhOfbgwopbBQzOaFiyE/edit" target="_blank">Links</a> aus dem Vortrag: (Google Docs)&nbsp;</p>
<p>Arno Karrasch<br /><em><a href="https://twitter.com/aNo_nym">@aNo_nym</a></em></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.11.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>From Zero to Hero mit dem BonnHub</h3>
		<p>Du hast eine Idee und willst gr&uuml;nden? Aber dir fehlt das Geld, die Skills oder das Netzwerk? Dann bist du beim BonnHub (aka Digital Hub Region Bonn)&nbsp;genau richtig, denn der kann und will mit seinen Accelerator und Inkubator Programmen helfen.</p>
<p>Livemitschnitt auf&nbsp;<a href="https://www.periscope.tv/w/1vOxweoWoboGB" target="_blank">Periscope hier</a></p>
<p>Ivan Ryzkov<br /><em><a href="https://twitter.com/BonnHub">@BonnHub</a></em></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.10.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Grafana & InfluxDB</h3>
		<p>Ein Blick durch die Datenbrille. Messwerte sammeln und vollst&auml;ndig interaktiv&nbsp;visualisieren.</p>
<p>Slides zum Talk <a href="/files/pdfs/grafana-influxdb.pdf" target="_blank">hier</a> (.pdf)</p>
<p>Sebastian Muszynski<br /><a href="https://twitter.com/syssi84" target="_blank">@syssi84</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.10.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Kanban: Mehr als bunte PostIts und Whiteboards</h3>
		<p>Was ist Kanban? Was hat es mit PostIts zu tun und warum ist es viel mehr als das? Was kann man mit Kanban machen? Wof&uuml;r verwendet man es? Geht das nur in der Softwareentwicklung?<br />Der Vortrag liefert eine &Uuml;bersicht zum Kanban f&uuml;r Wissenarbeiter und Impulse zu diesen und weiteren Fragen.</p>
<p>David Schmith&uuml;sen<br /><a href="https://twitter.com/schmithu" target="_blank">@schmithu</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.09.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Das AW-Wiki – eine Mitmach-Enzyklopädie für den Landkreis Ahrweiler</h3>
		<p>Das AW-Wiki wurde im September 2007 als Regionalwiki f&uuml;r den Landkreis Ahrweiler gegr&uuml;ndet. Heute enth&auml;lt dieses Wiki 20.000 Artikel; au&szlig;erdem wurden mehr als 10.000 Fotos und Grafiken hochgeladen. Damit ist das AW-Wiki im zehnten Jahr seines Bestehens eines der gr&ouml;&szlig;ten seiner Art.</p>
<p>Anton Simons<br /><a href="https://twitter.com/antonsimons" target="_blank">@antonsimons</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.09.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Der digitale Heimatverein</h3>
		<p>Du machst tausende Fotos von deiner Welt, postest sie &uuml;ber Social Media Rund um die Welt. Aber wo bleiben diese Bilder? Im Stadtarchiv lagern Bilder von 150 Jahren Fotografie. Wer kann in 50 Jahren auf deine Bilder noch zugreifen? Wer, wie und wo werden sie f&uuml;r nachfolgende Generationen gespeichert? Du schreibst dir in deinem Block die Finger wund? Wer wird in ein paar Jahren deine Zustandsbeschreibung der Gegenwart noch lesen k&ouml;nnen?</p>
<p>Werner Kathe<br /><a href="https://twitter.com/wkathe" target="_blank">@wkathe</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.07.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>The Things Network Bonn - wie wir ein Netz für Internet der Dinge selbst bauen können</h3>
		<p>The Things Network ist eine open-source Initiative um ein Netz f&uuml;r die Internet der Dinge mit LoRa Technologie zu bauen. Mit crowd-founded Infrastruktur k&ouml;nnen z.B. Sensordaten kostenlos ins Internet &uuml;bertragen werden. Mit Bonn dabei sind jetzt 170+ St&auml;dte und Regionen unterwegs um eine Basis f&uuml;r innovative IoT Projekte zu schaffen und gemeinsam neue Produkte zu entwickeln.</p>
<p>Live-Mitschnitt auf Periscope:<a href="https://www.periscope.tv/w/alvKLzFEWUtYcG5HYUxLZ0x8MXluSk96YlBBa09HUj_uNa8kkkYFNMSpbUG1v10WPCF5-7GiN6Ly17aBVGzw" target="_blank">hier</a></p>
<p>Krzysztof Sielski<br /><a href="https://twitter.com/ksl2europe" target="_blank">@ksl2europe</a>&nbsp;/&nbsp;<a href="https://twitter.com/TTNBonn" target="_blank">@TTNBonn</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.07.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Architekturdokumentation mit arc42</h3>
		<p>arc42 ist ein aus der Praxis kommendes, kostenfrei verwendbares Template f&uuml;r die pragmatische Dokumentation von Softwarearchitekturen. Der Vortrag zeigt an technologieunabh&auml;ngigen Beispielen die konkrete Anwendung.</p>
<p>Slides des Vortrags findet ihr <a href="https://speakerdeck.com/andreasmonschau/architekturdokumentation-mit-arc42" target="_blank">hier</a> auf speaker deck</p>
<p>Andreas Monschau<br /><a href="https://twitter.com/AndreasMonschau" target="_blank">@AndreasMonschau</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.06.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Elektromobilität</h3>
		<p><span>Die Zukunft des Fahrens ist elektrisch &ndash; Ein Einblick in die Welt der Elektromobilit&auml;t und des autonomen Fahrens.</span></p>
<p>Anna St&ouml;rmer<br /><a href="https://twitter.com/annastoermer" target="_blank">@annastoermer</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">23.05.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>To Hamburger or not to Hamburger</h3>
		<p>Eine Reise durch die Entstehung, die Gegenwart und (vielleicht) die Zukunft des Hamburger-Buttons</p>
<p>Slides zum Talk findet ihr <a href="https://www.jens-schaller.de/2016/05/webmontag-bonn-talk-hamburger/" target="_blank">hier.</a></p>
<p>Jens Schaller<br /><a href="https://twitter.com/schallerje" target="_blank">@schallerje</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">14.03.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>SEO zu Fuss</h3>
		<p><span>Suchmaschinenoptimierung ohne kostenpflichtige Tools am Beispiel von bundesstadt.com.</span></p>
<p>Ralph Grundmann<br /><a href="https://twitter.com/rgrundmann" target="_blank">@rGrundmann</a></p>
<p></p>
<p>Beide Talks des M&auml;rz Webmontags auf Periscope (Danke an <a href="http://bonn.digital" target="_blank">Bonn.digital</a> f&uuml;rs recorden)<br /><a href="https://www.periscope.tv/w/abW8_DFEWUtYcG5HYUxLZ0x8MU9kSnJuWnZEUkFKWPC8o-C9-WeGxJYrCaPWh8TDcng4-wgQ9voTpqOUgEwk" target="_blank">Video der Talks</a>&nbsp;</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">14.03.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Mit Bloggen Geld verdienen</h3>
		<p><span>Pia Drie&szlig;en</span></p>
<p><a href="https://twitter.com/dailypia" target="_blank">@dailyPia</a></p>
<p></p>
<p>Beide Talks des M&auml;rz Webmontags auf Periscope (Danke an&nbsp;<a href="http://bonn.digital" target="_blank">Bonn.digital</a>&nbsp;f&uuml;rs recorden)<br /><a href="https://www.periscope.tv/w/abW8_DFEWUtYcG5HYUxLZ0x8MU9kSnJuWnZEUkFKWPC8o-C9-WeGxJYrCaPWh8TDcng4-wgQ9voTpqOUgEwk" target="_blank">Video der Talks</a>&nbsp;</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.01.2016</span></h1>
	</div>
	
	<div class="span8">
		<h3>Bonn neu denken</h3>
		<p>Johannes Mirus<br /><a href="https://twitter.com/@johannes">@johannes</a></p>
<p>Unter dem Motto &bdquo;Bonn neu denken&ldquo; findet am 27. Februar zum zweiten Mal das BarCamp Bonn statt. Johannes Mirus wird es den Anwesenden vorstellen.</p>
<p>Der Talk auf Periscope <a href="https://www.periscope.tv/w/1djxXaBdMlXKZ" target="_blank">hier</a></p>
		<br />
	</div>

</div></div></div><div id="pager"><span>1</span></div>
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

            <!-- Le Newsletter subscription  -->
            <section class="green newsletter-section">
                <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-letter-inner">
                                    <h3>WMBN-Newsletter abonnieren</h3>
                                    <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                                    <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "newsletter-anmeldung","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"label": {"type": "label","class": "","style": ""}};n2g('create', 'nqinh13n-e48sle5f-15jj');n2g('subscribe:createForm', config);</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
