---
layout: _talkstemplate.njk
yeartitle: "2017"
date: 2017-01-01
tags: 
    - talksNavi
---


            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	
	<div class="teaser_outer"><div class="teaser_inner"><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.11.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Tech-Aktien & ihr Einfluß auf unser tägliches Leben</h3>
		<p>Wir googlen, skypen, facebooken. Wir sind always on. Es gibt Leute, die ohne ihr Smartphone nirgendwo hingehen. Welche Firmen stecken eigentlich hinter den Produkten &amp; Apps? Was sind das f&uuml;r L&auml;den, die so gro&szlig;en Einflu&szlig; auf unser Leben haben?</p>
<p>Sabine stellt euch einige Tech-Unternehmen vor, die unseren Alltag bestimmen.&nbsp;Aus Sicht einer Aktion&auml;rIn..</p>
Sabine Roeltgen<br /><a href="https://twitter.com/SabineRoeltgen" target="_blank">@SabineRoeltgen</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.09.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Achtsamkeit am Arbeitsplatz</h3>
		<p>Nicole stellt Euch einige Tipps zum Thema "Achtsamkeit am Arbeitsplatz" vor. Seit 2015 integriert sie die Praxis der Achtsamkeit in ihr Leben und ihre Arbeitsweise, sie schafft somit eine Arbeitsatmosph&auml;re auf Augenh&ouml;he.</p>
<p>Nicole Ness<br /><a href="https://twitter.com/achtsamesdesign" target="_blank">@achtsamesdesign</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.09.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>How to not suck at github</h3>
		<p>Was ist eigentlich dieses GitHub? Ein Einblick in eine etwas andere Community&nbsp;<br />und die Anleitung zur Unterst&uuml;tzung freier Software-Projekte.</p>
<p>Slides des Vortrags&nbsp;<a href="files/pdfs/github.pdf" target="_blank">hier</a>&nbsp;(.pdf)</p>
<p>Sebastian Muszynski&nbsp;<br /><a href="http://www.twitter.com/syssi84" target="_blank">@syssi84<br /></a><a href="http://github.com/syssi">github.com/syssi</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.07.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Heimautomation mit Home Assistant</h3>
		<p>Sebastian stellt uns eine Plattform vor die es schafft, einem riesigen und chaotischen&nbsp;<br />&Ouml;kosystem, dem Internet der Dinge, Sinn und Verstand zu geben.</p>
<p>Slides des Vortrags <a href="files/pdfs/homeassistant.pdf" target="_blank">hier</a> (.pdf)</p>
<p>Sebastian Muszynski&nbsp;<br /><a href="http://www.twitter.com/syssi84" target="_blank">@syssi84</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.07.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Gesundheitsgefahren für Webdesigner/developer</h3>
		<p>Daniel und Sergej von Salutra und X-PHYSIO werden zum Thema Gesundheitsgefahren f&uuml;r Webdesigner und Programmierer sowie Smartphone und Tabletuser im Allgemeinen vortragen. Nat&uuml;rlich mit Tipps zur Pr&auml;vention.</p>
<p>Slides des Talks <a href="files/pdfs/gesundheit-slides.pdf" target="_blank">hier</a> (pdf)</p>
<p>Daniel Wegen und Sergej Borkenhagen<br /><a href="https://twitter.com/physioxschool" target="_blank">@physioxschool</a>&nbsp;/&nbsp;<a href="https://twitter.com/salutraphysio" target="_blank">@salutraphysio</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.06.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Mastodon</h3>
		<p>Im Juni wird uns Johannes Mirus Mastodon vorstellen &ndash; einen freier, quelloffenen sozialer Netzwerkserver. Als dezentralisierte Alternative zu kommerziellen Plattformen verhindert es die Risiken, die entstehen, wenn eine einzelne Firma deine Kommunikation monopolisiert.</p>
<p>Johannes Mirus<br /><em><a href="https://twitter.com/johannes">@Johannes</a></em></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.06.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Native Advertising</h3>
		<p>Native Advertising in der Grauzone zwischen Schleichwerbung und Trennungsgebot - M&uuml;ssen Native Ads gekennzeichnet werden?</p>
<p>J&eacute;r&ocirc;me Lef&egrave;vre<br /><a href="https://twitter.com/jlefevrebonn">@jlefevrebonn</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.05.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Nintendo Switch</h3>
		<p>Im Mai hat uns Benjamin Helsper das neue Nintendo switch n&auml;her gebracht &ndash; und neben der Hardware beeindruckende Einblicke in das neue 'Zelda' gew&auml;hrt.</p>
<p>Benjamin Helsper<br /><em><a href="https://twitter.com/klausebou">@klausebou</a></em></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">24.04.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>trackle</h3>
		<p>trackle ist ein Temperatursensor, der Frauen dabei hilft, ihre fruchtbaren Tage zu bestimmen.</p>
Katrin Reuter<br /><em><a href="https://twitter.com/frau_ratte">@frau_ratte</a></em>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">24.04.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Einfach barrierefrei</h3>
		<p>Ihr glaubt, eine barrierefreie Website ist teuer, kompliziert und unattraktiv? Domingos zeigt in seiner Session, dass das nicht so sein muss.</p>
<p>Domingos de Oliveira<br /><a href="https://twitter.com/domingos2">@domingos2</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.03.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Agile</h3>
		<p>David stellt uns die Grundlagen von Agile im Allgemeinen, und von Scrum in Spezielle kurz vor.</p>
<p>David Schmith&uuml;sen<br /><em><a href="https://twitter.com/schmithu">@schmithu</a></em></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.03.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Digitale Nomaden</h3>
		<p>Als Waltzing Meurers sind sie als Digitale Nomaden unterwegs, um f&uuml;r Hotels, Destinationen oder touristische Unternehmen hochwertigen Content zu erstellen. Achim Meurer ist gelernter Fotograf und Monika Meurer macht twitter-Reportagen, blogged und f&uuml;llt diverse Social Media Kan&auml;le. Sie erz&auml;hlen &uuml;ber ihr Nomadentum und beantworten Fragen.</p>
<p>Monika &amp; Achim Meurer<br /><a href="https://twitter.com/waltzingmeurers">@waltzingmeurers</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.02.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Two-factor Authentification</h3>
		<p>Am n&auml;chsten Webmontag m&ouml;chte ich euch TWO FACTOR AUTHENTICATION zeigen. Wieso mir das wichtig ist. Wie man das macht, ohne viele Kosten zu produzieren und keinen Usability GAU produziert.</p>
<p>Thomas Lang<br /><a href="https://twitter.com/thomaslang">@thomaslang</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.02.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Visuelle Kommunikation mit Instagram</h3>
		<p>Instagram geh&ouml;rt f&uuml;r viele Menschen inzwischen zum Social-Media-Alltag. Auch f&uuml;r Unternehmen ist die Plattform attraktiv: eine hohe Interaktionsrate, effiziente Kundenbindung, und das Erreichen neuer Zielgruppen (unter anderem junges Publikum) sind nur einige der Vorz&uuml;ge.</p>
<p>Michele Lichte<br /><em><a href="https://twitter.com/lichtemomente">@lichtemomente</a></em></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.01.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Via Online-Bewerbung zum (Traum)Job</h3>
		<p>Wir leben modern und digital, warum bewerben wir uns immer noch mit einem Bewerbungsschema von vor 50 Jahren? Wir wollen uns beruflich entfalten, eine Work-Life-Balance haben &ndash; und machen doch zu viele Kompromisse.&nbsp;<br />Ich erz&auml;hle Euch, wie ich mich online erfolgreich f&uuml;r einen neuen Job beworben habe, wie man die sozialen Netzwerke sinnvoll daf&uuml;r nutzt und wie auch Ihr so zu eurer Traumstelle findet k&ouml;nnt.</p>
<p>Christiane T&auml;nzer<br /><em><a href="https://twitter.com/lemontonic21">@lemontonic21</a></em></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.01.2017</span></h1>
	</div>
	
	<div class="span8">
		<h3>Faktor Mensch - Design-Konsequenzen aus der Human Factors Forschung</h3>
		<p>Usability hei&szlig;t, Software menschengerecht zu gestalten. Aber was hei&szlig;t "menschengerecht"? Was macht Menschen aus?<br />In diesem Vortrag mache ich einen Ausflug in die Human Factors Forschung und zeige am praktischen Beispiel, was wir &uuml;ber Menschen wissen - von Denken und Wahrnehmung &uuml;ber Fehler und Stress, bis zur Kooperation im Team und soziale Hierarchien - und welche Auswirkungen dies hat auf die Gestaltung von Mensch-Maschine-Schnittstellen.</p>
<p>Monika Gillessen<br /><a href="https://twitter.com/mgillessen">@mgillessen</a></p>
		<br />
	</div>

</div></div></div><div id="pager"><span>1</span></div>
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

            <!-- Le Newsletter subscription  -->
            <section class="green newsletter-section">
                <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-letter-inner">
                                    <h3>WMBN-Newsletter abonnieren</h3>
                                    <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                                    <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "newsletter-anmeldung","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"label": {"type": "label","class": "","style": ""}};n2g('create', 'nqinh13n-e48sle5f-15jj');n2g('subscribe:createForm', config);</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
