---
layout: _talkstemplate.njk
yeartitle: "2018"
date: 2018-01-01
tags: 
    - talksNavi
---

                          
{% for item in talks2018 %}              

    <div class="row-fluid">    
        <div class="span4">
            <svg class="largeIcon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
            </svg>
            <h1><span class="month">{{ item.talk_date }}</span></h1>
        </div>

        <div class="span8">
            <h3>{{ item.talk_title }}</h3>
            <p>{{ item.talk_description }}</p>

            {% if item.talk_slideslink %}
                <p>Slides des Vortrags findet ihr <a rel="noopener" href="{{ item.talk_slideslink }}">hier</a>. </p>
            {% endif %}
            
            <p>{{ item.talk_speaker }}<br />

            {% if item.talk_speakerhandle %}
            <a href="https://twitter.com/{{ item.talk_speakerhandle }}">@{{ item.talk_speakerhandle }}</a>
            {% endif %}
            </p>    
        </div>
    </div>

{% endfor %}
