---
layout: _talkstemplate.njk
yeartitle: "2018"
date: 2018-01-01
tags: 
    - talksNavi
---


            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	
	<div class="teaser_outer"><div class="teaser_inner"><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.11.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Domain-Driven Design – gemeinsam mehr erreichen</h3>
		<p>F&uuml;r die Entwicklung komplexer Software wird ein Team ben&ouml;tigt, das interdisziplin&auml;r aufgestellt ist. Leider haben wir nie gelernt, fach&uuml;bergreifend zu kommunizieren. Das macht es Fachexperten, Entwicklern und Designern schwer, einander zu verstehen &ndash; was sich letztlich in der entwickelten Software zeigt, die das falsche Problem l&ouml;st, zu sp&auml;t auf den Markt kommt, und deren Qualit&auml;t nicht stimmt. Domain-Driven Design (DDD) legt den Schwerpunkt auf das Entwickeln einer gemeinsamen Sprache und verspricht, die interdisziplin&auml;re Kommunikation auf die Art zu verbessern. Doch wie funktioniert DDD? Golo Roden stellt das Konzept vor und zeigt, wie sich derart modellierte Anwendungen auf einfachem Weg in JavaScript implementieren lassen.</p>
Golo Roden<br /><a href="https://twitter.com/goloroden" target="_blank">@goloroden</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.09.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Intrinsic Web Design</h3>
		<p>Responsive Web Design mit Floats und festen Breakpoints war erst der Anfang. Neuere CSS Entwicklungen wie Grid und Flexbox erlauben "eingebaute" Responsivnes bei klaren, semantischen Strukturen. Jen Simmons @jensimmons hat f&uuml;r die neue Art zu arbeiten den Begriff "Intrinsic Web Design" gepr&auml;gt. Innerhalb eines halben Jahres wurde die CSS Grid Spezifikation in fast allen verbreiteten Browsern unterst&uuml;tzt, inkl. IE (mit Einschr&auml;nkungen) und UC Browser. An Beispielen wollen wir sehen, wie die neuen M&ouml;glichkeiten bei kreativen Layouts helfen k&ouml;nnen und die alten erg&auml;nzen.</p>
<p>Slides zum Vortrag findet ihr <a href="https://github.com/gbegerow/css-layout-bonn">hier</a></p>
<p>Georg Begerow<br /><a href="https://www.twitter.com/gbegerow" target="_blank">@gbegerow</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">17.09.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Workshop Management Software für Makerspaces</h3>
		<p>Wie man einen Makerspace mit Open Source Software managen kann.</p>
<p>Kader Malik</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.07.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Wie Alexa, Chat-Bots & Co. Wissen managen und den Lerntransfer verbessern</h3>
		<p>Alexa, Siri &amp; Co: Pers&ouml;nliche Assistenzsysteme verbreiten sich inzwischen rasend schnell und es ist bereits sicher, dass sie unser Leben und Arbeiten in Zukunft enorm ver&auml;ndern werden. Auch die Zukunft des E-Learnings liegt in ihrer Hand: Entwickelt werden interaktive Lernangebote, die auf die W&uuml;nsche des Anwenders zugeschnitten sind und individuelles Feedback geben. Erfahren Sie in diesem Vortrag, welche Technologien in Zukunft das Lernen beeinflussen werden, wo wir heute schon stehen und was Sie tun sollten, um die damit verbundenen Chancen zu nutzen.</p>
<p>Torsten Hardiess<br /><a href="http://www.twitter.com/TorstenHardiess" target="_blank">@TorstenHardiess</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.07.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Statische Webseiten mit Jekyll</h3>
		<p>Statische Blogs versprechen eine h&ouml;here Sicherheit und Geschwindigkeit&nbsp;und sollen viele der Probleme von heutigen komplexen klassischen Content&nbsp;Management Systemen &uuml;berwinden. Wann sollte man diese Ansatz w&auml;hlen und welche Vor- und Nachteile gilt es zu beachten?</p>
<p>Hagen Bauer&nbsp;<br /><a href="https://twitter.com/hbauer" target="_blank">@hbauer</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.06.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Digital Hub Bonn</h3>
		<p>Webmontag exploration day: Digital Hub Bonn</p>
<p><a href="https://twitter.com/IvanRyzk">@IvanRyzk</a>&nbsp;wird uns das Hub vorstellen und eine F&uuml;hrung geben. Im direkten Anschluss laden wir zum Round Table &ldquo;Front-End Technologien&rdquo; bei k&uuml;hlen Getr&auml;nken.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">28.05.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>SEO und Technical Readiness für Googles Mobile-First-Index</h3>
		<p>Nach knapp anderthalb Jahren Testphase hat Google im M&auml;rz/April 2018 mit Wechsel zum Mobil-First-Index begonnen. Wie sollen Webmaster und SEOs mit den hier gestellten Anforderungen umgehen und welche Faktoren sind unter der neuen Pr&auml;misse &bdquo;Mobile First!&ldquo; zu beachten? Der Vortrag versucht diese ver&auml;nderten Priorit&auml;ten anhand einer praxisorientierten Audit-Vorlage f&uuml;r &bdquo;Technical Readiness&ldquo; herauszuarbeiten und stellt entsprechende Tools und Strategien vor.</p>
<p>Sven Giese<br /><a href="http://www.twitter.com/svengiese" target="_blank">@svengiese</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">28.05.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Internet of Bats – Fledermaus-Tracking</h3>
		<p>Lukas baut seit einiger Zeit in seiner Freizeit an offener Hard- und Software zur &Uuml;berwachung von Fledermausquartieren und -Bewegungen, in diesem Vortrag stellt er bisher aufgekommene Ideen und den aktuellen Entwicklungsstand vor.</p>
<p><span>Slides des Vortrags&nbsp;</span><a href="https://www.webmontag-bonn.de/files/pdfs/webmontag-mai-2018-internet-of-bats.pdf" target="_blank">hier</a><span>&nbsp;(.pdf)</span></p>
<p>Lukas Schauer&nbsp;<br /><a href="http://www.twitter.com/lukas2511" target="_blank">@lukas2511</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">28.05.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>DSGVO</h3>
		<p>Seit drei Tagen gibt die Datenschutzgrundverordnung einen neuen, europaweit einheitlichen Rechtsrahmen f&uuml;r die Verarbeitung personenbezogener Daten vor, der in allen EU-Mitgliedsstaaten einen einheitlichen Datenschutz-Standard gew&auml;hrleisten soll. Doch wie immer bei gro&szlig;en gesetzlichen Reformwerken stellen sich auch zum Start der DSGVO eine Reihe von Fragen und Unsicherheiten. Dies gilt insbesondere auch f&uuml;r Webmaster: Was &auml;ndert sich wirklich und was ist nur Hysterie? Und wie soll mit den neuen Anforderungen umgegangen werden?</p>
<p>Udo Meisen<br /><a href="http://www.twitter.com/praetorim" target="_blank">@praetorim</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.04.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>gadget-night in der skybar</h3>
		Webmontag exploration day: "gadget-night in der skybar"<br />
<p>Die "Gadget-night" in der Konrad's Skybar im Bonn Marriott World Conference Hotel war ein entspannter Abend mit viel technischem Spielzeug und gutem Gin bei fantastischer Aussicht. <br /><br /></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.03.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Slack</h3>
		<p>Ob verteiltes Team oder Home-Office: Entfernte Zusammenarbeit geh&ouml;rt f&uuml;r viele von uns zunehmend zum Alltag. Welchen Herausforderungen steht man dabei gegen&uuml;ber? Und kann das Chat-Tool Slack helfen, diese Art der Arbeit effizienter zu gestalten?</p>
<p><span>Slides des Vortrags&nbsp;</span><a href="http://wmbn.de/files/pdfs/Slack.pdf" target="_blank">hier</a><span>&nbsp;(.pdf)</span></p>
<p>Matthias Molitor<br /><a href="http://www.twitter.com/Matthimatiker" target="_blank">@Matthimatiker</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.03.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>BEM CSS</h3>
		<p>CSS wird schnell un&uuml;bersichtlich. BEM hilft hier durch konsequente Strukturierung von Markup und Stylesheets. Wir schauen gemeinsam und praxisnah auf Vorteile, Nachteile und m&ouml;gliche Workarounds.</p>
<p>Andreas Gartz&nbsp;<br /><a href="http://www.twitter.com/derskysh" target="_blank">@derskysh</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.03.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Digitale (Bahn-)Nomadin</h3>
		<p>Leonie hat eineinhalb Jahre lang ihre Wohnung gegen eine BahnCard100 getauscht. In ihrem Vortrag erz&auml;hlt sie von ihrem seminomadischen Leben und wirft einen Blick auf die internationale Nomadenszene und die Technologien, die diese erm&ouml;glichen.</p>
<p>Leonie M&uuml;ller<br /><a href="http://www.twitter.com/seiachtzehn" target="_blank">@seiachtzehn</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">19.02.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Film Screening im Kino in der Brotfabrik mit anschließender Diskussion:"Her"</h3>
		<h3>"Betriebssystem - wir m&uuml;ssen reden."</h3>
<p>In der postmodernen Near-Future-Sci-Fi-Saga bescheibt der Film &ldquo;Her&rdquo; weniger die zuk&uuml;nftige Praxis von technoiden Beziehungen als vielmehr gegenw&auml;rtige Bed&uuml;rfnisse nach menschlicher N&auml;he und deren perfekten (?) Simulation. Im Vordergrund stehen also nicht die F&auml;higkeiten eines omnipotenten- und pr&auml;senten Systems, sondern unser Verh&auml;ltnis zu transmedialen Akten der Liebe.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.01.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>Performance: Die neue UX-Grundanforderung</h3>
		<p>Wir schauen uns an, wie die konzeptionelle Unterst&uuml;tzung der technischen Optimierungen mit &bdquo;Priority Wireframes&ldquo; aussehen kann und nutzen au&szlig;erdem schlaue Methoden aus der Wahrnehmungspsychologie-Trickkiste.</p>
<p>S&oslash;ren Birkemeyer<br /><a href="https://twitter.com/Polarbirke" target="_blank">@Polarbirke</a><br /><br /></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.01.2018</span></h1>
	</div>
	
	<div class="span8">
		<h3>IT des Wandels: Freie Software für einen nachhaltigen Gesellschaftswandel?</h3>
		<p>Bonn im Wandel ist ein Ideenlabor und Treffpunkt f&uuml;r Menschen, die den gesellschaftlichen Wandel hin zu einer gerechten und enkeltauglichen Stadt vorantreiben. Wie sieht eine IT-Infrastruktur aus, die diesen Wandel unterst&uuml;tzt?</p>
<p>Andi R&uuml;ther&nbsp;<br /><a href="http://www.twitter.com/bonnimwandel" target="_blank">@bonnimwandel</a></p>
		<br />
	</div>

</div></div></div><div id="pager"><span>1</span></div>
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

        