---
layout: _talkstemplate.njk
yeartitle: "2019"
date: 2019-01-01
tags: 
    - talksNavi
---


            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	
	<div class="teaser_outer"><div class="teaser_inner"><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.11.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>ReactPHP</h3>
		<p>Christian L&uuml;ck wird uns einen Einblick in ReactPHP geben und erkl&auml;ren, warum es seinem Cousin Node.js in nichts nachsteht. Beruflich arbeitet Christian als Freelance Software Engineer und coacht<br />Entwicklungsteams im Webbereich. Auch ist er Maintainer von ReactPHP.</p>
<p><span>Slides des Vortrags&nbsp;</span><a href="https://speakerdeck.com/clue/pushing-the-limits-of-php-symfonylive-berlin" target="_blank">hier</a><span>&nbsp;(speakerdeck.com)</span></p>
Christian L&uuml;ck<br /><a href="https://twitter.com/another_clue/">@another_clue</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.10.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Usability Testing</h3>
		<p>Usability Testing ist in Software ein immer gr&ouml;&szlig;er werdendes Thema. Hersteller stellen sich die Fragen &bdquo;Wie ist meine Software einfacher zu bedienen?&ldquo;, &bdquo;Wie kann ich die Bed&uuml;rfnisse des Nutzers optimal befriedigen?&ldquo; oder auch &bdquo;Woran bemerke ich &uuml;berhaupt, ob meine Software gut und der Nutzer zufrieden ist?&ldquo;.Zur Kl&auml;rung dieser Fragen erl&auml;utert Lina Dillmann wie Software getestet werden kann und wie dabei effektive Ergebnisse erzielt werden. Lina Dillmann ist im Bereich Requirements Engineering bei der WhereGroup in Bonn t&auml;tig. Zuvor war sie User Interface &amp; User Experience Designerin und hat verschiedene Software mitentwickelt und optimiert.</p>
Lina Dillmann<br /><a href="https://twitter.com/linadillmann">@linaDillmann</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.09.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Web Application Security</h3>
		<p>Wer sich mit Webentwicklung befasst, kennt Abk&uuml;rzungen wie XSS, CSRF oder LFI. Doch welche Sicherheitsl&uuml;cken dahinter stecken, welchen Schaden ein Angreifer anrichten kann, der sie ausnutzt und wie man diese&nbsp;und andere Sicherheitsl&uuml;cken vermeiden und beheben kann, bleibt h&auml;ufig im Dunkeln.&nbsp;<br />Marian Kogler, Gesch&auml;ftsf&uuml;hrer bei der syret GmbH, einem auf IT-Sicherheit spezialisierten Unternehmen, erkl&auml;rt in diesem Vortrag, welche Schwachstellen man h&auml;ufig in Webapplikationen findet, demonstriert bei einem Live-Hacking anhand einer unsicheren Webapplikation, wie schnell ein Angreifer zum heimlichen Admin werden kann und zeigt, was man als Entwickler oder Betreiber dagegen machen kann.</p>
Marian Kogler<br /><a href="https://syret.de">syret GmbH</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">16.09.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Sichtbarkeit – Buzzword oder Bürde?</h3>
		<p>#SichtbarImNetz: Lass Dich finden! Praxistipps f&uuml;rs PersonalBranding &ndash; In Zeiten von SEO, SEA und sinkender Reichweiten in Social Media wird Investment in das eigene PersonalBranding immer wichtiger. Aber wie werde ich zur Marke? Martina Troyer,&nbsp; SichtbarkeitsCoach &amp; Expertin f&uuml;r Webstrategie und Contentmarketing gibt Praxistipps im Kurzvortrag mit anschlie&szlig;endem Bestpractice-Austausch.</p>
<p>Martina Troyer<br /><a href="https://www.twitter.com/netzgewandt" target="_blank">@netzgewandt</a></p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.07.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Gitea</h3>
		<p>Gitea ist eine leichtgewichtige, quelloffene Code-Hosting-Plattform. Genauso wie GitLab wird es gerne als On Premises-Alternative f&uuml;r Github eingesetzt. Daniel Appelt entwickelt Unternehmenssoftware bei der ABRACON GmbH in Bonn. In seinem Vortrag berichtet er &uuml;ber die Gitea-Migration des Subversion-Servers des kleinen Unternehmens mit knapp 200 Projekten.</p>
<p>Slides zum Talk findet ihr&nbsp;<a href="https://github.com/danielappelt/talk-gitea-webmontag-bonn/blob/gh-pages/index.adoc" target="_blank">hier</a></p>
<p>Daniel Appelt</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.07.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Git und Github - eine Annäherung.</h3>
		<p>Git - zu Deutsch der Depp - und Github dominieren mittlerweile klar als Versionsverwaltungssysteme. Wir wollen uns ansehen, was git als dezentrales System auszeichnet und was typische Nutzungsmuster in verteilten Teams sind. Au&szlig;erdem beleuchten wir Github und seine Rolle im git-&Ouml;kosystem. Rainer Jung ist Mitglied der Apache Software Foundation und u.a. Committer beim Apache Webserver und Apache Tomcat. Er ist auch Mitbegr&uuml;nder der Bonner kippdata GmbH.</p>
<p>Rainer Jung</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">20.05.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Wie funktioniert Marktforschung im agilen Prozess?</h3>
		<p>Alles soll agil sein, insbesondere im Bereich von UX Research. Aber wie genau kann es die traditionelle Marktforschung schaffen, da mitzuhalten und wertvollen Input zu liefern? Anhand von ein paar Beispielen und Erfahrungen zeigen wir, was wir so gelernt haben.</p>
Till Winkler<br /><a href="https://twitter.com/SKOPOS_NOVA">@SKOPOS_NOVA</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">15.04.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Screening im Kino in der Brotfabrik mit anschließender Diskussion:"Ghost in the Shell"</h3>
		<h3>"Wenn ein Cyborg seinen eigenen Geist erschaffen k&ouml;nnte, welchen Zweck h&auml;tte Menschsein?"</h3>
<p>Der Anime-Film "Ghost in the Shell" spielt im Jahr 2029, in dem internationale Konzerne die digitalen Netzwerke besitzen, und erz&auml;hlt uns von unsere Abh&auml;ngigkeit unserer Identit&auml;t und Selbstdarstellung im Web. Das klingt heute, knapp 25 Jahre nach Erscheinen des Films, gar nicht mehr nach Science Fiction.<br /><br />Die Mixtur aus Nacktheit, Melancholie, Gewalt und Tech-Porn und die stellenweise Undurchdringbarkeit dieses Film Noir l&auml;sst uns im Ungewissen. Sie &ouml;ffnet aber gleichzeitig den Raum f&uuml;r die Frage nach K&ouml;rperlichkeit im Digitalen und provoziert neuen Bildern im Spekulativen, &uuml;ber die wir gerne mit Euch diskutieren m&ouml;chten.<br /><br />Moderation: Damian Paderta.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.03.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Hubs4Change: Eine neue Online-Plattform für nachhaltige Initiativen und Unternehmen in Bonn</h3>
		<p>Ob als ehrenamtlich getragene Initiative, Unternehmen oder Verband: Es gibt viele Orte des Wandels, doch h&auml;ufig fehlt der &Uuml;berblick wo es in meiner N&auml;he eine passende Organisation gibt. Hubs4Change erm&ouml;glicht die dezentrale Kartierung und aggregiert diese und andere Datenbanken in einem Metahub f&uuml;r den gro&szlig;en &Uuml;berblick. Open Source und Community-getragen, mit starken Wurzeln in der Wandelbewegung bald als Beta-Projekt Bonn.</p>
Andi R&uuml;ther<br /><a href="https://twitter.com/andi_rue">@andi_ru</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.03.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Vue.js  -Teil 2</h3>
		<p>Vue (gesprochen [vju], wie View] ist ein progessives Framework um User Interfaces zu bauen. Der Einsatz reicht vom einfachen jQuery Ersatz zur mehr als vollwertigen Alternative zu Single Page Frameworks wie Angular, Aurelia oder React.<br /><br />Teil I: Framework und Konzepte, Vue Router, Vuepress, Eagle.js<br /><strong>Teil II (M&auml;rz): Nuxt, VueX.</strong></p>
<p>Slides zum Talk findet ihr <a href="https://github.com/gbegerow/intro-vue-bonn" target="_blank">hier</a>.<strong> <br /></strong></p>
Georg Begerow<br /><a href="https://www.twitter.com/gbegerow" target="_blank">@gbegerow</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">18.02.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>gadget-night im Bierhaus Machold</h3>
		<p>Webmontag exploration day:"gadget-night im Bierhaus Machold"<br />Im Februar traffen wir uns zur Bier-Edition mit &bdquo;Gadget-Night&ldquo; im Bierhaus Machold bei Essen und Getr&auml;nken zum entspannten Netzwerken.</p>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.01.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Die Weisheit und Macht der eigenen Crowd entfesseln – Open Space Technologie im Unternehmenseinsatz</h3>
		<p>Open Space Technology (OST) und Barcamps haben die Art wie wir Konferenzen abhalten stark ver&auml;ndert. Die Methoden funktionieren jedoch auch im Kontext von Unternehmen um sehr unterschiedliche Aufgabenstellungen gemeinsam mit einer gro&szlig;en Gruppe von Menschen zu l&ouml;sen. Nach einer kurzen Einf&uuml;hrung in die Grundlagen von OST teilt David Schmith&uuml;sen mit uns seine Erfahrungen mit Open Space Technology.</p>
David Schmith&uuml;sen<br /><a href="https://twitter.com/schmithu">@schmithu</a>
		<br />
	</div>

</div><div class="row-fluid">
	
	<div class="span4">

        <svg class="largeIcon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-talk"></use>
        </svg>


		<h1><span class="month">21.01.2019</span></h1>
	</div>
	
	<div class="span8">
		<h3>Vue.js</h3>
		<p>Vue (gesprochen [vju], wie View] ist ein progessives Framework um User Interfaces zu bauen. Der Einsatz reicht vom einfachen jQuery Ersatz zur mehr als vollwertigen Alternative zu Single Page Frameworks wie Angular, Aurelia oder React.<br /><br />Teil I: Framework und Konzepte, Vue Router, Vuepress, Eagle.js<br />Teil II (M&auml;rz): Nuxt, VueX.</p>
Georg Begerow<br /><a href="https://www.twitter.com/gbegerow" target="_blank">@gbegerow</a>
		<br />
	</div>

</div></div></div><div id="pager"><span>1</span></div>
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

          