---
layout: _sitetemplate.njk
title: "Home"
bodyClass: "start"
date: 2016-01-01
tags:
    - headerNavi
---



            <section id="{nameOfArticle}" class="green">
                <div class="centered">
                      	<div class="row-fluid">
<div class="span8"><button>Info</button>
<h6>Der Webmontag Bonn ist ein zwangloses Zusammentreffen webaffiner Menschen, die bei einem Kaffee oder Bier Kontakte kn&uuml;pfen und sich &uuml;ber die aktuelle Entwicklung im Web austauschen m&ouml;chten. In der Regel gibt es ein bis zwei Vortr&auml;ge &ndash; jeder ist eingeladen, sich einzubringen. Bitte k&uuml;ndigt euren Vortrag im Vorfeld <a href="mailto:welcome@wmbn.de">hier</a> an, das hilft uns ungemein bei der Koordination. Eine <strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste findet ihr hier</a></strong>.&nbsp;</h6>
</div>
<div class="span4">
<h4>N&auml;chster Termin <br /><span>18.07.2022</span></h4>
<p></p>
<p>In der Regel findet der Webmontag am DRITTER MONTAG IM MONAT abends um 19 UHR im <strong>"Biergarten Alter Zoll"</strong> statt.</p>
</div>
</div>

                </div>
            </section>

            <div id="main" role="main">
                <div id="content">
                    <article>
                        <br /><section class="clearfix" id="teaser">

<h1>Talks im Mai:</h1>

<ul>
<li><svg class="largeIcon"> <use xlink:href="#icon-talk"> &nbsp; </use> </svg>
<h2>Biergarten Edition</h2>
<p>Im Juli treffen wir uns endlich wieder zur Biergarten-Edition um 19:00 Uhr im <strong>Biergarten am alten Zoll</strong> bei Essen und Getränken zum entspannten Netzwerken und Nerd-Talken.</p>

<h2>"Web-Stammtisch im Biergarten"</h2>


<p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
</li>
<!--<li>
<svg class="largeIcon"> <use xlink:href="#icon-talk"> &nbsp; </use> </svg>
<h2>Bonn.Community</h2>
<p>Johannes Mirus und Sascha Foerster planen eine Community f&uuml;r Bonn und wollen mit uns &ndash; nach einer kurzen Vorstellung der Idee &ndash; gemeinsam diskutieren, was Sie ber&uuml;cksichtigen sollten, was dar&uuml;ber hinaus ganz nett w&auml;re und was Sie auf jeden Fall vermeiden sollten.</p>
<p>Johannes Mirus<br /> <a href="https://twitter.com/johannes" target="_blank">@johannes</a><br /> Sascha Foerster<br /> <a href="https://twitter.com/sascha_foerster" target="_blank">@sascha_foerster</a></p>
</li>
<li>
<svg class="largeIcon"> <use xlink:href="#icon-talk"> &nbsp; </use> </svg>
<h2>Windows 10 Devices</h2>
<p>Chippy bringt mal wieder einige Windows 10 Tablets and Laptops f&uuml;r eine Hands-on Session mit und gibt einen kurzen &Uuml;berblick, was sich zwischenzeitlich getan hat.</p>
<p>Steve 'Chippy' Paine<br /> <a href="https://twitter.com/chippy" target="_blank">@chippy</a></p>
</li>-->
<li class="inaktiv"><svg class="largeIcon"> <use xlink:href="#icon-talk-inactive"> &nbsp; </use> </svg>
<h2>Dein Vortrag?</h2>
<p>Wir suchen immer wieder gute Themen und Leute, die Vortr&auml;ge halten m&ouml;chten. Die Vortr&auml;ge sollten 10-25 Minuten nicht &uuml;berschreiten und sollten vorher angek&uuml;ndigt werden, zwecks besserer Koordination. <br /><strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste</a></strong>&nbsp;<br />Bitte wendet euch an:</p>
<p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
</li>
<li class="inaktiv"><svg class="largeIcon"> <use xlink:href="#icon-talk-inactive"> &nbsp; </use> </svg>
<h2>Dein Vortrag?</h2>
<p>Wir suchen immer wieder gute Themen und Leute, die Vortr&auml;ge halten m&ouml;chten. Die Vortr&auml;ge sollten 10-25 Minuten nicht &uuml;berschreiten und sollten vorher angek&uuml;ndigt werden, zwecks besserer Koordination. <br /><strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste</a></strong>&nbsp;<br />Bitte wendet euch an:</p>
<p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
</li>
<!--<li>
<svg class="largeIcon"> <use xlink:href="#icon-b2b"> &nbsp; </use> </svg>
<h2>b2b-session: beer to belly</h2>
<p>Nach den Vortr&auml;gen bleibt noch viel Zeit um bei einem gepflegten Bier die Vortr&auml;ge zu diskutieren, zu Netzwerken, oder einfach den Abend in netter Atmosph&auml;re ausklingen zu lassen. Wir freuen uns auf euch.</p>
</li>--></ul>
<h2 style="text-align: center;">Talks des <a href="/2020/">letzen Webmontag:</a></h2>
</section>

        </article>
    </div> <!--! end of #content -->
</div>


<!-- Le Newsletter subscription  -->
<section class="green newsletter-section">
    <article>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="news-letter-inner">
                    <h3>WMBN-Newsletter abonnieren</h3>
                    <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                    <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "newsletter-anmeldung","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"label": {"type": "label","class": "","style": ""}};n2g('create', 'nqinh13n-e48sle5f-15jj');n2g('subscribe:createForm', config);</script>
                </div>
            </div>
        </div>
    </div>
    </article>
</section>



<script>
    // Hide and reveal the "about"-section on start
    const toggleDiv = function(){
        document.querySelector('h6').classList.toggle('visible');
    }
    document.querySelector('button').addEventListener('click', toggleDiv);
</script>
