---
layout: _sitetemplate.njk
title: "Kontakt"
tags: 
    - headerNavi
---


            <section id="headline" class="green">
                <div class="centered">
                    <h1>Kontakt</h1>
                </div>
            </section>

            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	<div class="row-fluid">
<div class="span4">
<h1>Ich habe Fragen.<span>Ich w&uuml;rde gerne einen Vortrag halten.</span></h1>
</div>
<div class="span8"><!-- start nested -->
<p>Bei Fragen oder Vorschl&auml;gen zu Vortr&auml;gen, sowie Fragen zu organisatorischen Dingen wende dich bitte an Lina Dillmann:&nbsp;<br /><a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
<p></p>
<!-- eof nested --></div>
</div>
<div class="row-fluid">
<div class="span4">
<h1>Veranstalter &amp; Organisation</h1>
</div>
<div class="span8"><!-- start nested -->
<div class="row-fluid">
<div class="span8">
<p>Lina Dillmann&nbsp;<br /><a href="mailto:welcome@wmbn.de">welcome@wmbn.de<br /></a><a href="https://www.xing.com/profile/Lina_Dillmann" target="_blank">Linas Xing-Profil</a></p>
</div>
</div>
<p>c/o bold &amp; friendly<br />Designb&uuml;ro f&uuml;r Branding und Digitales<br />Breite Stra&szlig;e 38<br />53111 Bonn&nbsp;<br /><a href="https://www.boldandfriendly.de" target="_blank">www.boldandfriendly.de</a></p>
<p></p>
</div>
</div>
<div class="row-fluid">
<div class="span4"><!-- start nested -->
<h1>Credits:</h1>
</div>
<div class="span8"><!-- start nested -->
<div class="row-fluid">
<p>Location:<br />Waschsalon Innovationpoint<br /><a href="http://www.innovationpoint.de/">www.innovationpoint.de</a>&nbsp;</p>
<p>Design: <br />bold &amp; friendly<br /><a href="https://www.boldandfriendly.de" target="_blank">www.boldandfriendly.de</a></p>
<p>Realisation: <br />avaris <br /><a href="http://www.avaris-webdesign.de" target="_blank">www.avaris-webdesign.de</a></p>
<!-- eof nested --></div>
</div>
</div>
	
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

            <!-- Le Newsletter subscription  -->
            <section class="green newsletter-section">
                <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-letter-inner">
                                    <h3>WMBN-Newsletter abonnieren</h3>
                                    <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                                    <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "newsletter-anmeldung","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"label": {"type": "label","class": "","style": ""}};n2g('create', 'nqinh13n-e48sle5f-15jj');n2g('subscribe:createForm', config);</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

