---
layout: _sitetemplate.njk
title: "Vortrags-Wunschliste"
---


            <section id="headline" class="green">
                <div class="centered">
                    <h1>Vortrags-Wunschliste</h1>
                </div>
            </section>

            <div id="main" role="main">
                <div id="content"> <!-- narrowed down to 15 in this case -->
                    <article>
                        <section id="{nameOfArticle}" class="clearfix">
                            	<div class="row-fluid">
<div class="span4">
<h1>Vortrags-<span>Wunschliste</span></h1>
</div>
<div class="span8"><!-- start nested -->
<p>Am vorangegangenen Webmontag haben wir anwesende G&auml;ste nach Themen befragt, zu denen sie gerne einen Talk h&ouml;ren w&uuml;rden. Wir haben daraus folgende Wishlist destilliert: (Ohne Anspruch auf Vollst&auml;ndigkeit)</p>
<ul>
<li>Content Strategy</li>
<li>JAMstack</li>
<li>Gatsby / Eleventy (11ty)</li>
<li>Designer- / Developer handoff Tools (Zeplin / Sympli)</li>
<li>Docker</li>
<li>git</li>
<li>headless / decoupled CMS</li>
<li>Continuous integration</li>
</ul>
<p>Wer sich berufen f&uuml;hlt, zu einem der obengenannten (oder einem ganz anderen Thema) einen Talk zu halten, melde sich bitte zur besseren Koordination bei Lina Dillmann <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a>.</p>
<p></p>
<!-- eof nested --></div>
</div>
	
                        </section>
                    </article>
                </div> <!--! end of #content -->
            </div>

            <!-- Le Newsletter subscription  -->
            <section class="green newsletter-section">
                <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-letter-inner">
                                    <h3>WMBN-Newsletter abonnieren</h3>
                                    <p>Bleibt auf dem Laufenden und lasst euch unsere Aktivitäten bequem in die Inbox liefern. 1 x im Monat, kein Spam. Ehrenwort!</p>
                                    <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "newsletter-anmeldung","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"label": {"type": "label","class": "","style": ""}};n2g('create', 'nqinh13n-e48sle5f-15jj');n2g('subscribe:createForm', config);</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
