// Le Header


.logo {
    display:flex;
    align-items: center;
    max-width:100%;

    .start & {
        flex-direction: column;
        align-items: flex-start;
        max-width: clamp(5em, 80vw, 70em);
    }
    .signet {
        width:4em;
        margin-right:.5em;

        .start & {
            margin-bottom:.5em;
            height:auto;
            width:16%;
        }
    }
    .logotype {
        height:3em;

        .start & {
            height:auto;
            width:100%;
        }
    }
}
