
header nav {
    display:flex;
    justify-content: flex-end;
    ul {
        margin: 0;
        padding: 0 0 10px;
        display: flex;
        list-style:none;
        align-items: center;

        li {
            a {
                text-decoration: none;
                color: #1a181c;
                text-align: center;
                font: bold 1em/1 var(--default-font);
                margin: 0;
                padding: 22px 7px;

                &:hover {
                    color: #97bf0e
                }
            }
            &.active a {
                color: #97bf0e;
                position: relative
            }
        }
    }
}