:root {
    --font-color: #000;


    --button-background:#A0F1CA;
    --button-border:#A0D9BD;
    /* --light-green:#DAFAEB;
    --border-green: #A0D9BD; */
    --underline-green: #65D6B1;

    --default-font: 'Poppins';
}