
<section id="" class="green">
    <div class="centered">
        <div class="row-fluid">
            <div class="span8"><button>Info</button>
            
{% block einleitung %} 
{% endblock %}

</div>
            <div class="span4">
                <h4>N&auml;chster Termin <br /><span>{{ nextDate }} </span></h4>

                {% block wannwo %} 
                {% endblock %}

</div>
</div>

</div>
</section>

<div id="main" role="main">
    <div id="content">
        <article>
            <br />
            <section class="clearfix" id="teaser">
                <h1>Talks in {{ nextMonth }}</h1>
                <ul>   

{% block firsttalk %} 
<li class="inaktiv"><svg class="largeIcon"> <use xlink:href="#icon-talk-inactive"> &nbsp; </use> </svg>
<h2>Dein Vortrag?</h2>
<p>Wir suchen immer wieder gute Themen und Leute, die Vortr&auml;ge halten m&ouml;chten. Die Vortr&auml;ge sollten 10-25 Minuten nicht &uuml;berschreiten und sollten vorher angek&uuml;ndigt werden, zwecks besserer Koordination. <br /><strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste</a></strong>&nbsp;<br />Bitte wendet euch an:</p>
<p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
</li>
{% endblock %}

{% block secondtalk %} 
<li class="inaktiv"><svg class="largeIcon"> <use xlink:href="#icon-talk-inactive"> &nbsp; </use> </svg>
<h2>Dein Vortrag?</h2>
<p>Wir suchen immer wieder gute Themen und Leute, die Vortr&auml;ge halten m&ouml;chten. Die Vortr&auml;ge sollten 10-25 Minuten nicht &uuml;berschreiten und sollten vorher angek&uuml;ndigt werden, zwecks besserer Koordination. <br /><strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste</a></strong>&nbsp;<br />Bitte wendet euch an:</p>
<p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
</li>    
{% endblock %}

{% block thirdtalk %} 
<!-- <li class="inaktiv"><svg class="largeIcon"> <use xlink:href="#icon-talk-inactive"> &nbsp; </use> </svg>
<h2>Dein Vortrag?</h2>
<p>Wir suchen immer wieder gute Themen und Leute, die Vortr&auml;ge halten m&ouml;chten. Die Vortr&auml;ge sollten 10-25 Minuten nicht &uuml;berschreiten und sollten vorher angek&uuml;ndigt werden, zwecks besserer Koordination. <br /><strong><a href="/vortrags-wunschliste/">Vortrags-Wunschliste</a></strong>&nbsp;<br />Bitte wendet euch an:</p>
<p>Kontakt: Lina Dillmann<br /> <a href="mailto:welcome@wmbn.de">welcome@wmbn.de</a></p>
</li> -->
<li>
    <svg class="largeIcon"> <use xlink:href="#icon-b2b"> &nbsp; </use> </svg>
    <h2>b2b-session: beer to belly</h2>
    <p>Nach den Vortr&auml;gen bleibt noch viel Zeit um bei einem gepflegten Bier die Vortr&auml;ge zu diskutieren, zu Netzwerken, oder einfach den Abend in netter Atmosph&auml;re ausklingen zu lassen. Wir freuen uns auf euch.</p>
</li>
{% endblock %}

</ul>

<h2 style="text-align: center;">Talks der <a href="/2020/">letzen Webmontage:</a></h2>
</section>

</article>
</div> <!--! end of #content -->
</div>


