---
layout: _sitetemplate.njk
---

<section id="headline" class="green">
    <div class="centered">
        <h1>Talks<ul id="v_nav">
            {%- for post in collections.talksNavi | reverse -%}
            <li {% if page.url == post.url %} class="active" {% endif %}>
                <a href="{{ post.url }}">{{ post.data.yeartitle }}</a>
            </li>
            {%- endfor -%}
            </ul>
        </h1>
    </div>
</section>


{{ content | safe }}