{% macro image (name, fileext, alt='', width='', height='', path='img/', loading='lazy', class='') %}
<img src="{{ path }}{{ name }}.{{ fileext }}" width="{{ width }}" height="{{ height }}"
     srcset="{{ path }}{{ name }}@0,5x.{{ fileext }} 768w,
             {{ path }}{{ name }}@1x.{{ fileext }} 1280w,
             {{ path }}{{ name }}.{{ fileext }} 1440w"
     loading="{{ loading }}"
     alt="{{ alt }}"
     class="{{ class }}">
{% endmacro %}

<!-- Background Image for the header -->
{% macro bgimage(image, fileext = 'jpg', path = 'img/', domTarget = ".hero--image") %}
    <style>
        {{domTarget}} {
            background-image: url("{{ path }}{{ image }}@0,5x.{{ fileext }}");
        }
        @media (min-width:768px) {
            {{domTarget}} {
                background-image: url("{{ path }}{{ image }}@1x.{{ fileext }}");
            }
        }
        @media (min-width:1280px) {
            {{domTarget}} {
                background-image: url("{{ path }}{{ image }}.{{ fileext }}");
            }
        }
    </style>
{% endmacro %}
