.talks-years {
    ul {
        list-style:none;
        margin:0;
        padding:0;
        display:flex;

        li {
            a {
                padding:0.2em .3em;
            }
            &.active {
                a {
                    border-bottom:3px solid orange;
                }
            }
        }
    }    
}