footer {
    text-align:center;
    ul {
        list-style: none;
        display:flex;
        justify-content: center;
        margin:0;
        padding:0;
        
        li {
            margin:0;
            padding:0;
        }
    }
    nav.socialMedia {
        ul {
            
            li {
                a {
                    svg.soc-icons {
                        height:3em;
                        width:3em;
                    }
                }
            }
        }
    }
    .sponsor {
        display:flex;
        justify-content: center;
        img {
            width:clamp(80vw, 70vw, 10em);
        }
    }
}