---
layout: _talkstemplate.njk
yeartitle: "2011"
date: 2011-01-01
tags: 
    - talksNavi
---


                      
{% for item in talks2011 %}              

	{% include 'src/_includes/_talk-item.njk' %}

{% endfor %}
