---
layout: _talkstemplate.njk
date: 2013-01-01
yeartitle: "2013"
tags: 
    - talksNavi
---



                      
{% for item in talks2013 %}              

	{% include 'src/_includes/_talk-item.njk' %}

{% endfor %}
