---
layout: _talkstemplate.njk
yeartitle: "2014"
date: 2014-01-01
tags: 
    - talksNavi
---


                      
{% for item in talks2014 %}              

	{% include 'src/_includes/_talk-item.njk' %}

{% endfor %}
