---
layout: _talkstemplate.njk
date: 2016-01-01
yeartitle: "2016"
tags: 
    - talksNavi
---



                      
{% for item in talks2016 %}              

	{% include 'src/_includes/_talk-item.njk' %}

{% endfor %}
