---
layout: _talkstemplate.njk
yeartitle: "2017"
date: 2017-01-01
tags: 
    - talksNavi
---


                      
{% for item in talks2017 %}              

	{% include 'src/_includes/_talk-item.njk' %}

{% endfor %}

