---
layout: _talkstemplate.njk
yeartitle: "2018"
date: 2018-01-01
tags: 
    - talksNavi
---

                          
{% for item in talks2018 %}              

   {% include 'src/_includes/_talk-item.njk' %}

{% endfor %}
