---
layout: _talkstemplate.njk
yeartitle: "2019"
date: 2019-01-01
tags: 
    - talksNavi
---


                                     
{% for item in talks2019 %}              

    {% include 'src/_includes/_talk-item.njk' %}    

{% endfor %}


