---
layout: _talkstemplate.njk
title: "Talks"
yeartitle: "2023"
date: 2023-01-01
tags: 
    - headerNavi
    - talksNavi
---


                                     
{% for item in talks2023 %}              

    {% include 'src/_includes/_talk-item.njk' %}

{% endfor %}