---
layout: _talkstemplate.njk
title: "Talks"
yeartitle: "2024"
date: 2024-01-01
tags: 
    - talksNavi
---


                                     
{% for item in talks2024 %}              

    {% include 'src/_includes/_talk-item.njk' %}

{% endfor %}